body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-size: 1.4vw;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff4e0;
    border: none;
    color: #bba187;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

button:hover {
    background-color: #bba187;
    color: #fff4e0;
}

.header {
    position: sticky;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #d5b895;
    line-height: 90%;
}

.logo {
    grid-column: 1;
    padding-left: 10%;
    color: #fff4e0;
    cursor: pointer;
}

.nav {
    grid-column: 2;
    text-align: center;
    box-sizing: border-box;
    list-style-type: none;
}

.nav a {
    box-sizing: border-box;
    color: white;
    float: left;
    text-decoration: none;
    width: 16%;
    padding: 2%;
    display: block;
}

.nav a:hover {
    background-color: #fff4e0;
    color: #a67a5b;
}

#textdiv {
    /* Source: https://www.w3schools.com/howto/howto_css_image_text.asp */
    position: absolute;
    bottom: 6%;
    left: 7%;
    color: white;
    padding: 2%;
    line-height: 90%;
}

#lp-footer {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: #bd9975;
}


/* Source: https://redstapler.co/responsive-css-video-background/ */

#videoBG {
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}


/* Source (using z index & absolute position to layer images): https://www.w3schools.com/cssref/pr_pos_z-index.asp */

#home-text1 {
    position: absolute;
    width: 50%;
    background-color: #fae4cc;
    color: #a67a5b;
    padding: 2%;
    right: 10%;
    top: 28%;
}

#home-img1 {
    position: absolute;
    left: 10%;
    top: 20%;
}

#home-img1 img {
    width: 30%;
    height: auto;
}

#home-bg1 {
    position: absolute;
    width: 50%;
    height: 95%;
    z-index: -1;
    top: 5%;
    left: 0;
    background-color: #bba187;
}