body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 10px;
    border: none;
    font-size: 20px;
}

button:hover {
    background-color: rgb(66, 66, 66);
    color: white;
}

.navbar {
    background-color: white;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 13% 13% 13% 13% 13% 13% 2% 2% 2% 2% 2%;
}

.navbar-logo img {
    width: 150px;
    height: auto;
}

.navbar-logo {
    grid-column: 1;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 50px 30px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(66, 66, 66);
    color: white;
}

.navbar i {
    font-size: 15px;
    padding: 50px 30px;
}

.navbar i:hover {
    color: rgb(66, 66, 66);
}


/* Source: https://www.w3schools.com/howto/howto_js_slideshow.asp */

* {
    box-sizing: border-box
}

.slideshow-container {
    width: 100%;
    position: relative;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 50px;
    font-weight: bold;
    padding: 8px 12px;
    /* Source: https://www.w3schools.com/howto/howto_css_image_text.asp */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.main-content {
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 20px 80px;
}

.sub-content {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-column-gap: 2%;
    width: 100%;
    padding: 80px;
}

.sub-content img {
    width: 290px;
    height: auto;
}

.footer {
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2%;
    padding: 20px 80px;
}

.footer i {
    padding-right: 10px;
}